<ul class="nav navbar-dark bg-dark">
  <li class="nav-item">
    <a class="nav-link" href="header.component.html">Netflix School</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="!userService.loggedUser" routerLink="/login">Login</a>
    <a class="nav-link" *ngIf="userService.loggedUser">
      <!-- se diverso da null non lo accetta -->
      {{userService.loggedUser?.firstname}}
      {{userService.loggedUser?.lastname}}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/add-film">Add Film</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/add-actor">Add Actor</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" *ngIf="userService.loggedUser" routerLink="/login">
      Logout

    </a>
  </li>
</ul>
